force-app/main/default/flows/Droid_Price_from_Comp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Prices</name>
        <label>Add Prices</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>FinalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Prices.Item_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prices</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Droid Price from Comp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Droid Price from Components</label>
    <loops>
        <name>Loop_Prices</name>
        <label>Loop Prices</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>JuncPrices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Prices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Final_Price</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_prices</name>
        <label>Get prices</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Component_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <object>Components_to_Droid_Junc__c</object>
        <outputReference>JuncPrices</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Item_Cost__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Final_Price</name>
        <label>Assign Final Price</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>FinalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_prices</targetReference>
        </connector>
        <object>Droid__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>JuncPrices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Components_to_Droid_Junc__c</objectType>
    </variables>
</Flow>
