force-app/main/default/flows/Set_Total_Component_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Looped_Price</name>
        <label>Looped Price</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>FinalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over.Part_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Set Total Component Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Total Component Price</label>
    <loops>
        <name>Loop_Over</name>
        <label>Loop Over</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>JunctionRecordPrices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Looped_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Final_Price</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Part_Price</name>
        <label>Get Part Price</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Part_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <object>Parts_to_Components_Junc__c</object>
        <outputReference>JunctionRecordPrices</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Part_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Final_Price</name>
        <label>Assign Final Price</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>FinalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Part_Price</targetReference>
        </connector>
        <object>Droid_Components__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>JunctionRecordPrices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parts_to_Components_Junc__c</objectType>
    </variables>
</Flow>
